.header {
    max-width: 1200px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.filter-container {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    width: 800px;
    justify-content: space-between;
}
.header__visit--btn {
    display: none;
}
.login__modal,
.visit__modal {
    position: fixed;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.9;
    background-color: white;
    width: 300px;
    max-width: 444px;
    max-height: 400px;
    padding-bottom: 48px;
    padding-top: 30px;
    border-radius: 5px;
}

.login__modal--background,
.visit__modal-background {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.login__modal--form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 70%;
}

.login__modal--label {
    margin-top: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-family: SansSerif;
    letter-spacing: 1px;
}

.login__input--information {
    width: 100%;
    margin-top: 12px;
    padding: 0;
    height: 45px;
    border: 1px solid rgb(215, 215, 215);
    text-indent: 20px;
    outline: none;
}

.login__input--information::placeholder {
    color: rgba(190, 190, 190, 1);
}

.login__input--information:focus {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
}

.login__submit--btn {
    margin-top: 20px;
    font-size: 16px;
    color: white;
    background: rgb(98, 177, 246);
    border: 0;
    width: 160px;
    height: 48px;
    border-radius: 5px;
    font-family: 'Roboto';
    letter-spacing: 1px;
}

.login__submit--btn:hover {
    background: rgba(48, 93, 184, 0.9);
    transition: 0.3s;
}
.visit__modal {
    position: fixed;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0.9;
    background-color: white;
    min-width: 500px;
    max-width: 1200px;
    max-height: 400px;
    padding-bottom: 48px;
    padding-top: 30px;
    border-radius: 5px;
}
.divButton {
    width: 80%;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.visit__closeButton,
.visit__submitButton {
    margin-top: 20px;
    font-size: 16px;
    color: white;
    background: rgb(98, 177, 246);
    border: 0;
    width: 160px;
    height: 48px;
    border-radius: 5px;
    font-family: 'Roboto';
    letter-spacing: 1px;
}

.visit__closeButton:hover,
.visit__submitButton:hover {
    background: rgba(48, 93, 184, 0.9);
    transition: 0.3s;
}
.requiredFileds__error {
    color: red;
    margin-top: 10px;
}
/* 

.modal {
    max-width: 1100px;
    margin: 0 auto;
    background: grey;
    z-index: 20;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: Roboto;
    zoom: 0.8;
}

.row {
    margin-top: 0;
}

.col-12 {
    margin-top: 20px;
}

.col-md-12 {
    margin-top: 20px;
}

.container p {
    margin-bottom: 8px;
}

.container select {
    color: #6c757d;
    border-radius: 0;
}

.container select:focus {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
    border: none;
}

.container input {
    border: 1px solid rgb(215, 215, 215);
    border-radius: 0;
}

.container input:focus {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
    border: none;
}

.closeButton {
    margin-top: 0;
    margin-left: 0;
}

.divButton {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.input-margin {
    margin-top: 20px;
}

.modal {
    height: min-content;
    position: fixed;
    z-index: 20;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    opacity: 0.9;
    border: 1px solid #198754;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-background {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modalButton {
    margin-top: 0;
    letter-spacing: 1px;
}

.createVisit {
    margin-left: 0;
}

.cancelVisit {
    margin-left: 600px;
} */
