body {
    font-family: Arial, Helvetica, sans-serif;
}

.modal,
.modalVisit {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    /* Full width */
    height: 300px;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
}

.modal.active,
.modalVisit.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.login_form,
.visit_form {
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
