.Header {
    margin-bottom: 30px;
    height: 130px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(71, 92, 115);
    .title {
        font-size: 40px;
        color: white;
        text-decoration: none;
    }
}
.title:hover,
.basket:hover,
.favorite:hover {
    transform: scale(1.1, 1.1);
}
.logo {
    width: 70px;
    height: 70px;
}
.favorite {
    display: flex;
    img {
        cursor: pointer;
        width: 50px;
        height: 50px;
    }
}
.basket {
    display: flex;
    img {
        cursor: pointer;
        width: 50px;
        height: 50px;
    }
}
