.cards_wrapper {
    display: flex;
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
}

.cards_wrapper-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}
.cards_form {
    // position: fixed;
    padding-top: 50px;
    width: 400px;
    height: 360px;
}
