.card {
    width: 260px;
    display: flex;
    flex-direction: column;
    padding: 30px;
    &_header {
        display: flex;
        justify-content: flex-end;
        padding: 10px;
        img {
            cursor: pointer;
            width: 50px;
            height: 50px;
        }
        .showBtn {
            background-color: white;
            // border-radius: 50%;
            border: none;
            cursor: pointer;
            margin-left: 20px;
            font-size: 35px;
        }
        .showBtn:hover {
            transform: scale(1.1, 1.1);
        }
    }
    &_main {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &_img {
            img {
                width: 100%;
                height: 200px;
            }
        }
    }
}
