.modal {
    &-wrapper {
        position: fixed;
        background-color: black;
        opacity: 0.8;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    &__container {
        top: calc(50% - 250px);

        bottom: 0;
        right: 0;
        position: fixed;
        width: 500px;
        height: 300px;
        left: calc(50% - 250px);
        margin-top: 100px;
        // background-color: #ffffff;
        background-color: rgb(71, 92, 115);
        z-index: 1000;

        border-radius: 10px;
        overflow: hidden;
        &-header {
            background-color: rgba(197, 78, 78, 0.41);
            display: flex;
            justify-content: space-around;
            align-items: center;

            &-title {
                color: white;
                text-align: center;
            }
        }

        &-text {
            color: white;
            font-size: 30px;
            text-align: center;
            // font-weight: bold;
        }
    }
}
