.wrapper {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;

    margin-bottom: 10px;
}
.card {
    display: flex;
    width: 400px;
    justify-content: space-between;
}
.card p {
    font-weight: 800;
}
